@{
    ViewBag.Title = "Cliente";
}



<div class="navbar">
    <ul class="nav navbar-nav">

        <a href="~/Citas/Solicitar"><button value="Index" class="btn btn-default">Solicitar Cita</button></a>
        <a href="~/Conversaciones"><button value="Index" class="btn btn-default">Conversaciones</button></a>
    </ul>
</div>
