@{
    ViewBag.Title = "ETZ-JAIM";
}

<div class="jumbotron">
    <h1>Terapias Alternativas "Etz-Jaim"</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bienvenido</h2>
        <p>En "Etz-Jaim", nos especializamos en salud natural y terapias alternativas.</p>
    </div>
    <div class="col-md-4">
        <h2>Es un placer servirles</h2>
        <p>LUEGO PIENSO QUE VA AQUÍ</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">HAY QUE CAMBIAR EL LINK &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CONTÁCTENOS</h2>
        <p>DESPUÉS LE METO LOS DATOS</p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">PONER AQUÍ EL MAIL &raquo;</a></p>
    </div>
</div>