@model AdminWeb.Models.AdminModel

@{
    ViewBag.Title = "Create";
}

<h2>Crear Admin</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2" for="Admin_username">Username</label>
            <div class="col-md-10">
                <input class="text-box single-line" id="Admin_username" name="Admin_username" type="text" value="">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Admin_password">Password</label>
            <div class="col-md-10">
                <input class="text-box single-line" id="Admin_password" name="Admin_password" type="password" value="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
